set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

set number
set relativenumber
set NERDTree
set surround
set scrolloff=8
set clipboard+=unnamed
set ideajoin
set multiple-cursor

set ignorecase
set smartcase
set commentary

let mapleader = " "

" move line
nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>
vnoremap <C-j> :m +1<CR>
vnoremap <C-k> :m -2<CR>
inoremap <C-j> <Esc>:m +1<CR>gi
inoremap <C-k> <Esc>:m -2<CR>gi

" git push/pull
" nmap <leader>gp :action Git.Pull<cr>
" nmap <leader>gu :action Git.Push<cr>

" shortcut for search file
nnoremap <leader>sf :action GotoFile<CR>

" Tabs
nnoremap <A-j> :action PreviousTab<cr>
nnoremap <A-k> :action NextTab<cr>

" jk as <ESC>
nnoremap <Enter> o<ESC>
nnoremap <S-Enter> O<ESC>

" find grep
nnoremap <leader>sg :action FindInPath<CR>

" Jump to the next error or warning
nnoremap gn :action GotoNextError<CR>

" Jump to the previous error or warning
nnoremap gp :action GotoPreviousError<CR>

" Optional: Show the error description (like hovering with a mouse)
nnoremap <leader>ee :action ShowErrorDescription<CR>

" go to implementation
nnoremap <leader>gi :action GotoImplementation<CR>
